@{
    ViewBag.Title = "Liên Hệ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    HONG BANG INTERNATIONAL UNIVERSITY<br />
    215 ĐIỆN BIỆN PHỦ, PHƯỜNG 15, QUẬN BÌNH THẠNH, TP.HỒ CHÍ MINH <br />
    <abbr title="Phone">PHONE:</abbr>
    028.7308.3456
</address>

<address>
    <strong>Marketing:</strong>   <a href="mailto:hiu@hiu.vn">hiu@hiu.vn</a><br />
    <strong>Support:</strong> <a href="mailto:thaidunghia123@gmail.com">thaidunghia123@gmail.com</a>
</address>